[submodule ".vim/pack/santosh/start/vim-airline"]
	path = .vim/pack/santosh/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/santosh/start/vim-airline-themes"]
	path = .vim/pack/santosh/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
